.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: max-content;
}

.card {
    padding: 6px;
    background-color: #fff;
    max-width: 360px;
    max-height: 360px;
    border-radius: 6px;
}